############################################
# IDE / editor folders 
############################################
**/.idea/
**/.vscode/
**/.fleet/
**/.settings/
**/.project
**/.classpath

############################################
# OS junk
############################################
**/.DS_Store
**/Thumbs.db

############################################
# Env / secrets 
############################################
**/.env
**/.env.*
**/*.env
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.jks
**/id_rsa
**/id_rsa.pub

############################################
# Your custom directories to never share 
############################################
**/IDEA/
**/code/
# add more like:
# **/secrets/
# **/private/
# **/tmp/
# **/data/

############################################
# Common build/cache
############################################
**/node_modules/
**/dist/
**/build/
**/.next/
**/.cache/
**/target/
**/.terraform/
**/.venv/
**/__pycache__/
**/*.log